      <div role="main" class="ui-content">
        <div>
          <button id="connect">Connect</button>&nbsp;|&nbsp;Status:
          <span id="name">UNKNOWN</span>
          <span id="status">disconnected</span>
        </div>
        <div id="log"
             style="width:20em;height:15em;overflow:auto;border:1px solid black">
        </div>
        <form id="chatform" onsubmit="return false;">
          <input id="text" type="text" />
          <input id="send" type="button" value="Send" disabled/>
        </form>
      </div>
