    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    {% if env == 'prod' %}
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    {% else %}
    <link rel="stylesheet" href="{{ static_url }}/jquery.mobile-1.4.5.min.css" />
    <script src="{{ static_url }}/jquery-1.11.1.min.js"></script>
    <script src="{{ static_url }}/jquery.mobile-1.4.5.min.js"></script>
    {% endif %}
