<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    {% if env == 'prod' %}
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    {% else %}
    <link rel="stylesheet" href="{{ static_url }}/jquery.mobile-1.4.5.min.css" />
    <script src="{{ static_url }}/jquery-1.11.1.min.js"></script>
    <script src="{{ static_url }}/jquery.mobile-1.4.5.min.js"></script>
    {% endif %}
  
  </head>
  <body>
    <div>
      <button id="connect">Connect</button>&nbsp;|&nbsp;Status:
      <span id="name">UNKNOWN</span>
      <span id="status">disconnected</span>
    </div>
    <div id="log"
         style="width:20em;height:15em;overflow:auto;border:1px solid black">
    </div>
    <form id="chatform" onsubmit="return false;">
      <input id="text" type="text" />
      <input id="send" type="button" value="Send" disabled/>
    </form>
  </body>
  <script src="static/chat.js" type="module"></script>
  <script src="static/track.js" type="module"></script>
</html>
